{{ $page := . }}
{{ $summary := $page.Summary | plainify | htmlUnescape | truncate 140 }}
<article class="post-card">
  <a class="post-card__link" href="{{ $page.RelPermalink }}">
    <div class="post-card__top">
      <span class="post-card__section">{{ $page.CurrentSection.Title }}</span>
      <span class="post-card__time">{{ $page.ReadingTime }} min</span>
    </div>

    <h3>{{ $page.Title }}</h3>
    <p>{{ if $summary }}{{ $summary }}{{ else }}{{ $page.Params.description | default "打开阅读全文。" }}{{ end }}</p>

    <div class="post-card__footer">
      <time datetime="{{ $page.Date.Format "2006-01-02" }}">{{ $page.Date.Format "2006-01-02" }}</time>
      {{ with $page.Params.tags }}
        <span class="post-card__tags">
          {{ range first 3 . }}
            <em>{{ . }}</em>
          {{ end }}
        </span>
      {{ end }}
    </div>
  </a>
</article>
